<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Customer Churn Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
 <div class="login">
	<h1>Churn Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('process')}}"method="post">
        <input type="text" name="Customer ID" placeholder="customer Id" required="required"/>
        <input type="text" name="acquisition date" placeholder="acquisition date:month/date/year" required="required" />
        <input type="text" name="interaction date" placeholder="interaction date:month/date/year" required="required" />
	<input type="text" name="category of interaction" placeholder="category of interaction:positive or negative or neutral" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Churn date</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>
